body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(142, 215, 142);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    background-color: rgb(217, 255, 217);
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login h2 {
    color: #333;
    margin-top: 0;
}

form {
    margin-top: 50px;
}

.input-container {
    margin: 20px ;
    color:rgb(142, 215, 142) ;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #04b241;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.login-footer {
    margin-top: 20px;
    color: #777;
}

.login-footer a {
    color: #0074D9;
    text-decoration: none;
    font-weight: bold;
}

.login-footer a:hover {
    text-decoration: underline;
}

